
.catalog_block {
  display: flex;
  flex-direction: column;

}
.catalog_block .title {
  font-size: 36px;
  color: #333333;

  margin-bottom: 30px;
}
.catalog_block .catalogs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 255px);
  justify-content: center;
}
.catalog_block .catalogs .catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  min-width: 255px;
  min-height: 299px;
  position: relative;
  cursor: pointer;
}
.catalog_block .catalogs .catalog .img {
  height: 155px;
  width: 155px;
  margin: 0 auto;
}

.catalog_block .catalogs .catalog:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.catalog_block .catalogs .catalog:hover .left .title {
  color: #2D9CDB;
}
.catalog_block .catalogs .catalog .left .title {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: #333333;
}
.catalog_block .catalogs .catalog .num {
  font-size: 18px;
  text-align: center;
  
  color: #828282;
}
.catalog_block .catalogs .catalog .right .arrow {
  display: none;
}
.catalog_block .catalogs .catalog .desctop {
  background-image: url("../../../images/Catalogs/pc.png");
}
.catalog_block .catalogs .catalog .cloth {
  background-image: url("../../../images/Catalogs/cloth.png");
}
.catalog_block .catalogs .catalog .electronics {
  background-image: url("../../../images/Catalogs/camera.png");
}
.catalog_block .catalogs .catalog .products {
  background-image: url("../../../images/Catalogs/auto.png");
}
.catalog_block .catalogs .catalog .sport {
  background-image: url("../../../images/Catalogs/sport.png");
}
.catalog_block .catalogs .catalog .child {
  background-image: url("../../../images/Catalogs/children.png");
}
.catalog_block .catalogs .catalog .tourism {
  background-image: url("../../../images/Catalogs/toarism.png");
}
.catalog_block .catalogs .catalog .tools {
  background-image: url("../../../images/Catalogs/tools.png");
}
@media (max-width: 528px) {
  .container {
    width: 92%;
  }
  .catalog_block .title {
    font-size: 22px;
    color: #333333;
    margin: 0;
    margin-bottom: 20px;
  }
  .catalog_block .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.5px 14px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #2D9CDB;
    color: #2D9CDB;
    border-radius: 5px;
  }
  .catalog_block .more .arrow {
    width: 10px;
    height: 10px;
    background-image: url("../../../images/Catalogs/arrow_down.svg");
    margin-left: 10px;
    filter: invert(49%) sepia(84%) saturate(1112%) hue-rotate(173deg) brightness(94%) contrast(82%);
  }
  .catalog_block .catalogs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog_block .catalogs .catalog:hover::before {
    top: 100%;
    border: 0px;
  }
  .catalog_block .catalogs .catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    margin: 0;
    padding: 0;
    height: 60px;
  }
  .catalog_block .catalogs .catalog::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: #EBF8FF;
  }
  .catalog_block .catalogs .catalog:last-child:before {
    background: transparent;
  }
  .catalog_block .catalogs .catalog .left {
    display: flex;
    align-items: center;
  }
  .catalog_block .catalogs .catalog .right {
    display: flex;
    align-items: center;
  }
  .catalog_block .catalogs .catalog .right .num {
    font-size: 14px;
    color: #A0A0A0;
    margin-right: 10px;
  }
  .catalog_block .catalogs .catalog .right .arrow {
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../../../images/hits/arrow.svg");
    transform: rotate(180deg);
    filter: invert(49%) sepia(84%) saturate(1112%) hue-rotate(173deg) brightness(94%) contrast(82%);
  }
  .catalog_block .catalogs .catalog .left .title {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
    color: #2D9CDB;
  }
  .catalog_block .catalogs .catalog .left .img {
    width: 34px;
    height: 34px;
  }
}