.hits_block .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hits_block .catalogs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 255px);
  justify-content: center;
}
.hits_block .catalogs .catalog {
  width: 100%;
  margin: 0 20px;
  position: relative;
  padding: 20px;
  max-width: 255px;
  cursor: pointer;
  padding-bottom: 0;
}
.hits_block .header .bts {
  display: flex;
  align-items: center;
}
.hits_block .header .bts .btn {
  background: #EEEEEE;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
} 
.hits_block .header .title {
  margin-bottom: 25px;
  font-size: 36px;
  color: #333333;
} 
.hits_block .header .bts .btn .arrow {
  width: 100%;
  height: 100%;
  background-image: url("../../../images/hits/arrow.svg");
}
.hits_block .header .bts .btn.right .arrow {
  transform: rotate(180deg);
}
.hits_block .catalogs .catalog .header {
  display: flex;
  padding: 14px;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}
.hits_block .catalogs .catalog .header .loop {
  width: 18px;
  height: 18px;
  background-image: url("../../../images/hits/loop.svg");
}
.hits_block .catalogs .catalog .header .hit {
  background: #9B51E0;
  border-radius: 3px;
  padding: 4.3px 16.2px;
  font-size: 13px;
  color: white;
}


.hits_block {
  margin-bottom: 25px;
}
.hits_block .catalogs .catalog:first-child {
  margin-left: 0;
}
.hits_block .catalogs .catalog:last-child {
  margin-right: 0;
}
.hits_block .catalogs .catalog:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.hits_block .catalogs .catalog .rating_block{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.hits_block .catalogs .catalog .rating_block .review {
  font-size: 13px;
  color: #828282;
  margin-left: 10px;
}
.hits_block .catalogs .catalog .rating_block .img{
  width: 112px;
  height: 20px;
}
.hits_block .catalogs .catalog .img {
  width: 215px;
  height: 215px;
  margin-bottom: 10px;
  position: relative;
}
.hits_block .catalogs .catalog .price_block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hits_block .catalogs .catalog .price_block .price {
  font-size: 18px;
  color: #333333;
}
.star5 {
  background-image: url("../../../images/hits/stars5.svg");
}
.star45 {
  background-image: url("../../../images/hits/star45.svg");
}
.star4 {
  background-image: url("../../../images/hits/star4.svg");
}
.star3 {
  background-image: url("../../../images/hits/star3.svg");
}
.hits_block .catalogs .catalog .price_block .last_price  {
  color: #C4C4C4;
  margin-left: 10px;
  text-decoration: line-through;
}
.hits_block .catalogs .catalog:hover .img .hover_block {
  opacity: 1;
  visibility: visible;
}
.hits_block .catalogs .catalog .img .hover_block {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  max-width: 49px;
  max-height: 49px;
  position: absolute;
  top: 39%;
  left: 40%;
  opacity: 0;
  visibility: hidden;
}
.hits_block .catalogs .catalog .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hits_block .catalogs .catalog .stock {
  font-size: 13px;
  color: #27AE60;
  margin: 20px 0px;
}
.hits_block .catalogs .catalog .footer .icons {
  display: flex;
  align-items: center;
}
.hits_block .catalogs .catalog .footer .icons .rating  {
  width: 18px;
  height: 20px;
  background-image: url("../../../images/hits/rating.svg");
}
.hits_block .catalogs .catalog .footer .icons .heart {
  width: 20px;
  height: 18px;
  margin-left: 20px;
  background-image: url("../../../images/hits/heart.svg");
}
.hits_block .catalogs .catalog .footer .btn {
  background: #2D9CDB;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 9.5px 26px;
}
.hits_block .catalogs .catalog .img .hover_block .hover {
  width: 19px;
  height: 19px;
  background-image: url("../../../images/hits/expand.svg");
}
.hits_block .catalogs .catalog .iphone {
  background-image: url("../../../images/hits/iphone.png");
}
.hits_block .catalogs .catalog .samsung {
  background-image: url("../../../images/hits/samsung.png");
}
.hits_block .catalogs .catalog .huawei {
  background-image: url("../../../images/hits/huawei.png");
}
.hits_block .catalogs .catalog .asus {
  background-image: url("../../../images/hits/asus.png");
}

.hits_block .catalogs .catalog .stock {
  display: flex;
}
.hits_block .catalogs .catalog .stock .buy,  .hits_block .catalogs .catalog .buy{
  display: none;
}
@media (max-width: 528px) {
  .hits_block {
    margin-top: 30px;
  }
  .hits_block .catalogs .catalog .stock .buy {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0;
    margin-right: 6px;
    padding: 0;
    background-image: url("../../../images/hits/mobile/success.svg");
  }
  .hits_block .catalogs .catalog .header {
    flex-direction: row-reverse;
    padding: 20px;
  }
  .hits_block .catalogs .catalog .header .img {
    margin: 0;
    width: 22px;
    height: 21px;
    background-image: url("../../../images/hits/mobile/youtube.svg");
  }
  .hits_block .header .title {
    font-size: 22px;
    color: #333333;
  }
  .hits_block .catalogs {
    display: flex;
    justify-content: center;
  }
  .hits_block .catalogs .catalog {
    display: none;
  }  
  .hits_block .catalogs .catalog.current {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .hits_block .catalogs .catalog .img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hits_block .catalogs .catalog .rating_block .img {
    margin: 0;
  }
  .hits_block .catalogs .catalog.current::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  .hits_block .catalogs .catalog .footer {
    display: flex;
    align-items: center;
  }
  .hits_block .catalogs .catalog .footer .icons .img {
    margin: 0
  }
  .hits_block .catalogs .catalog .footer .icons .rating {
    margin-right: 20px;
  }
  .hits_block .catalogs .catalog .price_block .price{
    font-size: 22px;
  }
  .hits_block .catalogs .catalog .price_block .last_price {
    color: #828282;
  }
  .hits_block .catalogs .catalog .footer .btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 20px;
  }
  .hits_block .catalogs .catalog .buy {
    margin-top: 25px;
    border-top: 1px solid #F2F2F2;
    font-size: 14px;
    text-align: center;
    
    color: #2D9CDB;
    padding: 20px;
  }
} 