@import url("./navbar.css");
@import url("./catalog.css");
@import url("./hits.css");

@font-face {
  font-family: 'SF UI Text';
  src: url('/src/assets/fonts/SFUIText-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, #app {
  width: 100%;
  height: 100%;
  font-family: "SF UI Text";
  background-color: #FFFFFF;
}
#app {
  overflow-y: auto;
}
#app .container {
  max-width: 1110px;
  margin: auto;
}
.img {
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Navbar */
@media (max-width: 414px) {
  .hits_block {
    margin-top: 30px;
  }
  .hits_block .header .title {
    font-size: 22px;
    color: #333333;
  }
  .hits_block .catalogs {
    display: flex;
    justify-content: center;
  }
  .hits_block .catalogs .catalog {
    display: none;
  }  
  .hits_block .catalogs .catalog:first-child {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .hits_block .catalogs .catalog .img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hits_block .catalogs .catalog .rating_block .img {
    margin: 0;
  }
  .hits_block .catalogs .catalog:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
} 