.navbar {
  padding: 40px 0px;
  cursor: default;
}
.navbar .blocks {
  display: flex;
  justify-content: space-between;
}
.navbar .block {
  display: flex;
  align-items: center;
  width: 340px;
}
.navbar .block:nth-child(2) {
  margin: 0 40px;
}
.navbar .block .about{
  margin-left: 20px;
}
.navbar .block .about .title {
  font-size: 16px;
  margin-bottom: 4px;
}
.navbar .block .about .desc {
  font-size: 14px;
  color: #333333;
}
.img.deliver {
  min-width: 77px;
  min-height: 50px;
  background-image: url("../../../images/Navbar/deliver.svg");
}
.img.payment {
  min-width: 61px;
  min-height: 50px;
  background-image: url("../../../images/Navbar/pay.svg");
}
.img.sales {
  min-width: 77px;
  min-height: 50px;
  background-image: url("../../../images/Navbar/Union.svg");
}
@media (max-width: 414px) {
  .navbar .blocks .block {
    display: none;
  }
  .navbar .blocks .block:first-child {
    display: flex;
  }
  .navbar .blocks {
    justify-content: center;
  }
}